fastapi==0.110.0
uvicorn==0.29.0
spacy==3.8.0
requests==2.32.3
dateparser
firebase-admin
pydantic
python-multipart
easyocr
Pillow

# SpaCy English language model
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

